<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FINS" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\SAM\Documents\Visual Studio 2012\FNF FINAL\WebSite1\App_Data\website(1).mdf;Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
<appSettings>
  <add key="validationsettings:unobtrusiveValidationmode" value="none"/>
</appSettings>
</configuration>